<div class="welcomeContainer">
    <div class="welcomePage">
        <h1>
            Welcome to myFLix!
        </h1>
        <!-- Click events below -->
        <div class="buttonContainer">
            <button mat-raised-button (click)="openUserRegistrationDialog()" style="margin-right: 10px;" color="primary"
                class="welcomeButton">
                Sign Up
            </button>
            <button mat-raised-button (click)="openUserLoginDialog()" style="margin-right: 10px;" color="primary"
                class="welcomeButton">
                Login
            </button>
        </div>
    </div>
</div>