/* Profile container */
.profileContainer {
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #d36e6e;
    width: 80vw;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    margin: 20px auto;
}

/* Header styling */
.profileContainer h2 {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

/* Profile details form */
mat-form-field {
    width: 100%;
    margin-bottom: 20px;
}

.profileDetails p {
    margin: 10px 0;
    font-size: 16px;
}

.profileDetails strong {
    color: #9E3436;
}

/* Profile buttons */
.profileViewButton,
.navButton {
    background-color: #9E3436 !important;
    color: white !important;
    border-radius: 12px;
    padding: 0.5em 1em;
    margin: 5px;
    font-size: 1em;
    width: 100%;
    text-align: center;
}

/* Favorite Movies Section */
.favoriteMoviesContainer {
    width: 100%;
    margin-top: 30px;
    background-color: #f7f7f7;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.favoriteMoviesContainer mat-card {
    
    background-color: #d36e6e;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    margin-bottom: 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.movieCardContainer {
    flex-basis: calc(25% - 20px);
    background-color:#d36e6e;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

/* Movie image styling */
.movieImg {
    width: 50%;
    height: auto;
    align-self: center;
    border-radius: 4px;
    object-fit: cover;
}

/* Movie card button styling */
.movieCardButton {
    background-color: #9E3436 !important;
    color: white !important;
    border-radius: 12px;
    margin-top: 10px;
    width: 100%;
    text-align: center;
}

/* Responsive layout adjustments */
@media (max-width: 900px) {
    .favoriteMoviesContainer mat-card {
        flex-basis: calc(33% - 20px);
   
    }}