<div class="profileContainer">
    <h2>{{ userDetails.username}}'s Profile</h2>

    <div class="profileDetails">
        <p><strong>Email:</strong>{{userDetails.email}}</p>
        <p><strong>Birthday:</strong>{{userDetails.birthDate | date}} </p>

        <button mat-raised-button color="primary" (click)="updateUser()" class="profileViewButton">
            Update Profile
        </button>
        <button mat-raised-button color="primary" (click)="resetUser()" class="profileViewButton">
            Reset Changes
        </button>
    </div>

    <div class="favoriteMovies">
        <h3> Your Favorite Movies</h3>
        <mat-list>
            <mat-list-item *ngFor="let movie of favoriteMovies">
                <h4 matLine>{{movie.Title}} </h4>
                <button mat-icon-button color="warm" (click)="removeFavoriteMovie(movie)">
                    <mat-icon>delete</mat-icon>
                </button>
            </mat-list-item>
        </mat-list>
    </div>

    <button mat-raised-button color="accent" (click)="returnToMovies()" class="navButton">
        Back to Movies
    </button>
</div>