<div>
    <nav>
        <button mat-button (click)="redirectProfile()" class="navButton">User Profile</button>
        <button mat-button (click)="logout()" class="navButton">Logout</button>
    </nav>
    <div class="movieCardContainer">
        <mat-card *ngFor="let movie of movies; let i=index;" class="movieCard">
            <mat-card-header>
                <mat-card-title>{{movie.Title}}</mat-card-title>
            </mat-card-header>
            <img src={{movie.ImagePath}} alt={{movie.Title}} class="movieImg" />
            <mat-card-actions>
                <button mat-button color="primary" (click)="openMoviesDialog(movie, 'genre')" class="movieCardButton">
                    Genre
                </button>
                <button mat-button color="primary" (click)="openMoviesDialog(movie, 'director')"
                    class="movieCardButton">
                    Director
                </button>
                <button mat-button color="primary" (click)="openMoviesDialog(movie, 'synopsis')"
                    class="movieCardButton">
                    Synopsis
                </button>
                <button mat-icon-button (click)="toggleFavorite(movie)">
                    <mat-icon>{{ movie.isFavorite? 'favorite' : 'favorite_border'}}</mat-icon>
                </button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>

<!-- Dialog Template -->
<ng-template #dialogTemplate let-data>
    <div class="dialogContainer">
        <h1 mat-dialog-title><b>{{data.title}}</b></h1>
        <div mat-dialog-content>
            <p *ngIf="data.type === 'genre'"><b>Genre:</b> {{ data.content }}</p>
            <div *ngIf="data.type === 'director'">
                <b>Directors:</b>
                <ul>
                    <li *ngFor="let director of data.content.split(', ')">{{ director }}</li>
                </ul>
            </div>
            <p *ngIf="data.type === 'synopsis'"><b>Synopsis:</b> {{ data.content }}</p>
        </div>
        <div mat-dialog-actions>
            <button mat-button mat-dialog-close>Close</button>
        </div>
    </div>
</ng-template>